<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Course Search{% endblock %}

{% block content %}
<div class="greenBox">
<h1>Course Details</h1>
{% if course_list %}
{% for course in course_list %}
<p>{{ course.className }}</p>
<p>{{ course.subject }}</p>
<p>{{ course.year }}</p>
<p>{{ course.semester }}</p>
<p>After displaying course information, should list study groups and have Add study group link???</p>
<div style="color: #000000;">
<a href="/study/add/{{ course.id }}">Add new StudyGroup</a>
</div>
{% endfor %}
{% endif %}
</div>

<div style="color: #000000;">
<!-- Study Group Links? -->
<p>Studygroups Under this course</p>
{% if studygroup_list %}
{% for studygroup in studygroup_list %}
<p>{{ studygroup.creatorUserId }}</p>
<p>{{ studygroup.postTitle }}
{% endfor %}
{% endif %}
</div>
{% endblock %}

