<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Course Search{% endblock %}

{% block content %}
<div id="searchbox">
<h1 class="strokeme">Study Buddy Search</h1>
<span  class="strokeme">
<form action="/course/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</span>
<div id="courseCount"><span class="strokeme_spaced"></span></div>
</div>

<script language="JavaScript" type="text/javascript">

function course(id, name, instructor, semester, year, subject, cnn)
{
    this.id = id;
    this.name = name;
    this.instructor = instructor;
    this.semester = semester;
    this.year = year;
    this.subjectId = subject;
    this.cnn = cnn;
}



/*
$('#mySelectBox option').each(function() {
    if (this.selected)
       alert('this option is selected');
     else
       alert('this is not');
});*/
//
{% for subject in subject_list %}{% for year in year_list %}{% for s in semester_list %}
let courses_{{ subject.id }}_{{ year.year }}_{{ s.semester }} = [];{% endfor %}{% endfor %}{% endfor %}

{% if course_list %}
{% for course in course_list %}
c = new course({{ course.id }}, '{{ course.className }}', '{{ course.instructor }}', '{{ course.semester }}', {{ course.year }}, {{ course.subject_id }}, {{ course.cNNumber }});
courses_{{ course.subject_id }}_{{ course.year }}_{{ course.semester }}.push(c);{% endfor %}
{% endif %}
//alert(courses_66[0].name);
$(document).ready(function(){
	
	function updateCourse()
	{
		
		myString = $('#id_studySubject :selected').val() + '_' + $('#id_studyYear :selected').val() + '_' + $('#id_studySemester :selected').val();
        classList = '';
        var option = '';
        try
        {
            classList = eval(myString);
        }
        catch(err)
        {
            // Really do not need anything here, as we are just trying to stop error above.
        }

        // Check for existence of classList, as may not be available for all semester/year options.
        if (typeof classList !== 'undefined' && classList.length > 0) {
            for (var i=0;i<classList.length;i++){
                option += '<option value="'+ classList[i].id + '">' + classList[i].name + ' (CN' + classList[i].cnn + ')</option>';
             }
        }
        else {
            option = '<option value="">No courses. Try another search.</option>';
        }
      $('#id_studyCourses').empty().append(option);
      
      //alert($("#id_studySubject").val());
      
      $('#courseCount span').text('There are ' + classList.length + ' ' + $('#id_studySubject :selected').text() + ' courses for ' + $('#id_studySemester').val()  + ' ' + $('#id_studyYear').val() );

	}
	
	if ($('#id_studySubjects :selected').val() != "")
    {
        updateCourse();
    }

    $('#id_studyYear').change(function() {
        updateCourse();
    });

    $('#id_studySemester').change(function() {
        updateCourse();
    });

      $('#id_studySubject').change(function(){
          updateCourse();
      });
});
</script>
{% endblock %}

