{% extends 'base.html' %}

{% block content %}
<div class="greenbox">
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() 
{
	$bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
	$('#breadcrumbs').html( $bc.append(' &gt; <a href="/accounts/">Accounts</a>') );
	$('#breadcrumbs').html( $bc.append(' &gt; Password Reset Done') );
});
</script>
{% endblock %}