{% extends 'base.html' %}

{% block content %}
<div class="greenbox">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() 
{
	$bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
	$('#breadcrumbs').html( $bc.append(' &gt; <a href="/accounts/">Accounts</a>') );
	$('#breadcrumbs').html( $bc.append(' &gt; Password Reset Confirm') );
});
</script>
{% endblock %}