<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Course Search{% endblock %}

{% block content %}
<div class="greenBox">
<h1>Study Buddy Search</h1>
<form id="searchForm" name="searchForm">
<div>Semester:
<select id="studySemester">
    <option value="Fall">Fall</option>
    <option value="Spring" selected="selected">Spring</option>
    <option value="Summer">Summer</option>
</select></div>
<div>Year:
<select id="studyYear">
    <option value="2018">2018</option>
    <option value="2019" selected="selected">2019</option>
</select></div>
{% if subject_list %}
    <select id="studySubjects" class="target">
    {% for subject in subject_list %}
        <option value="courses_{{ subject.id }}" id="{{ subject.id }}">{{ subject.name }}</option>
    {% endfor %}
    </select>
{% else %}
    <p>No subjects are available.</p>
{% endif %}
<div id="classesDiv" style="visibility: visible;">
<select id="studyCourses"></select>
</div>
<div id="courseCount"><span></span></div>
</form>
</div>

<script language="JavaScript" type="text/javascript">

function course(id, name, instructor, semester, year, subject, cnn)
{
    this.id = id;
    this.name = name;
    this.instructor = instructor;
    this.semester = semester;
    this.year = year;
    this.subjectId = subject;
    this.cnn = cnn;
}



/*
$('#mySelectBox option').each(function() {
    if (this.selected)
       alert('this option is selected');
     else
       alert('this is not');
});*/
// 
{% for subject in subject_list %}{% for year in year_list %}{% for s in semester_list %}
let courses_{{ subject.id }}_{{ year.year }}_{{ s.semester }} = [];{% endfor %}{% endfor %}{% endfor %}

{% if course_list %}
{% for course in course_list %}
c = new course({{ course.id }}, '{{ course.className }}', '{{ course.instructor }}', '{{ course.semester }}', {{ course.year }}, {{ course.subject_id }}, {{ course.cNNumber }});
courses_{{ course.subject_id }}_{{ course.year }}_{{ course.semester }}.push(c);{% endfor %}
{% endif %}
//alert(courses_66[0].name);
$(document).ready(function(){ 
	
	function updateCourses()
	{
	    myString = $('#studySubjects :selected').val() + '_' + $('#studyYear :selected').val() + '_' + $('#studySemester :selected').val();
	    classList = eval(myString);
	    var option = '<option value="">Select a course</option>';
	    // Check for existence of classList, as may not be available for all semester/year options.
	    if (typeof classList !== 'undefined') {
	        for (var i=0;i<classList.length;i++){
	            option += '<option value="'+ classList[i].id + '">' + classList[i].name + '</option>';
	         }
	    }
	    else {
	        option = '<option value="">No courses. Try another search.</option>';
	    }
	  $('#studyCourses').empty().append(option);
	  $('#courseCount span').text('There are ' + classList.length + ' ' + $('#studySubjects :selected').text() + ' courses available for ' + $('#studySemester :selected').val()  + ' ' + $('#studyYear :selected').val() );

	}
	
    if ($('#studySubjects :selected').val() != "")
    {
    	updateCourses();
    }
    
    $('#studyYear').change(function() {
    	updateCourses();
    });
    
    $('#studySemester').change(function() {
    	updateCourses();
    });
    
      $('#studySubjects').change(function(){
    	  updateCourses();
      });
}); 
</script>
{% endblock %}

