<!-- templates/home.html-->
{% extends 'base.html' %} 
{% block title %}My Studygroups{% endblock %} 

{% block content %}
<div style="position: relative; color: #000000; align:center;margin-top:15px; align:center; text-align: justify">
{% if user.is_authenticated %}
<p align="center">My Studygroups</p>

{% for studygroup in studygroup_joined_list %}
<div {% if forloop.counter0|divisibleby:2 %}class="white_sg"{% else %}class="green_sg"{% endif %}> 
    <div style="display: inline-block; *display: inline; zoom: 1; width: 600px; text-align: left;">
    <p>
        {{ forloop.counter }}:  <a href="/studygroups/view/{{ studygroup.studygroup.id }}" {% if forloop.counter0|divisibleby:2 %} class="green"{% else %}class="white"{% endif %}>{{ studygroup.studygroup.post_title }}</a>
        {% if studygroup.mine  %}
        ***MINE***
        {% endif %}
    </p>
    <p><span class="studygroup_label">Course:</span><span class="studygroup_data">{{ studygroup.studygroup.course.class_name }}</span></p>
    <p><span class="studygroup_label">Section:</span><span class="studygroup_data">{{ studygroup.studygroup.course.cn_number }}</span></p>
    <p><span class="studygroup_label">Instructor:</span><span class="studygroup_data">{{ studygroup.studygroup.course.instructor }}</span></p>
    <p><span class="studygroup_label">Semester:</span><span class="studygroup_data">{{ studygroup.studygroup.course.semester }} {{ studygroup.studygroup.course.year }}</span></p>
    <p><span class="studygroup_label">Active:</span><span class="studygroup_data">{{ studygroup.studygroup.is_active }}</span></p>
    <p>
        <span class="studygroup_label">Gender:</span><span class="studygroup_data">
    {% if studygroup.studygroup.gender_specific == 'M' %}
    Male Only
    {% endif %}
    {% if studygroup.studygroup.gender_specific == 'F' %}
    Female Only
    {% endif %}
    {% if studygroup.studygroup.gender_specific == 'N' %}
    Nonbinary Only
    {% endif %}
    {% if studygroup.studygroup.gender_specific == 'U' %}
    Everyone Welcome!
    {% endif %}
        </span>
    </p>
    <p><span class="studygroup_label">Days:</span><span class="studygroup_data"><span id='days_available_{{ studygroup.studygroup.id }}'>
    {% if studygroup.days_available %}
    {% for d in studygroup.days_available %}
    {{ d }}
    {% endfor %}
    {% endif %}</span></span></p>
    <p><span class="studygroup_label">Hours:</span><span class="studygroup_data">{{ studygroup.studygroup.hours_available_start }} to {{ studygroup.studygroup.hours_available_end }}</span></p>
    <p><span class="studygroup_label">Members:</span><span class="studygroup_data">{{ studygroup.members|length }}/{{ studygroup.studygroup.max_members }}</span></p>
    <p><span class="studygroup_label">Online:</span><span class="studygroup_data">{{ studygroup.studygroup.online_only }}</span></p>
    </div>

    {% if studygroup.messages %}
     <div id="messages_{{ studygroup.studygroup.id }}" style="display: inline-block;* display: inline; zoom: 1; vertical-align: top; border: 1px black solid; width: 570px; word-break: break-all; word-wrap: break-word; height: 470px; overflow-y: auto; background-color: #ffffff; color: #000000">
        <p>Messages</p>
        {% for message in studygroup.messages %}
        <span id="messages_{{ studygroup.studygroup.id }}_span">
        <span id="message_{{  message.id }}">
        <p>{{ message.date }} - {{ message.title }}</p>
        <p>{{ message.body }}</p>
        </span>
        <hr />
        </span>
        {% endfor %}
    </div>
    {% else %}
    <div id="messages_{{ studygroup.studygroup.id }}" style="display: inline-block;* display: inline; zoom: 1; vertical-align: top;  width: 570px; height: 470px; overflow-y: auto;">
    No messages
    </div>
    {% endif %}
</div>
{% endfor %}
{% else %}
<div align="center" id="dark">
        <p>Please sign in or sign up to see your studygroups.</p>  
        <p>You can still search for study groups <a href="/courses/">here</a>,<br />
        but will not be able to join or view 
        studygroup details until <br />
        you are 
        <a href="{% url 'signup' %}">registered</a> and 
        <a href="{% url 'login' %}" >signed in</a>.</p></div>
{% endif %}
</div>
{% endblock %}

{% block javascript %}
<script language="JavaScript" type="text/javascript">
function UpdateDays(sg_days, el)
{
    days_string = 'Every Day';
    if (sg_days.length > 0)
    {
        days_string = '';
        for (i = 0; i < sg_days.length; i++)
        {
            if (i > 0)
            {
                days_string += ', ';
            }
            days_string += sg_days[i];
        }
    }
    el.text(days_string);
}

$( document ).ready(function() 
{
	$bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
	$('#breadcrumbs').html( $bc.append(' &gt; <a href="/studygroups/">Studygroups</a>') );
	$('#breadcrumbs').html( $bc.append(' &gt; {{ user.username }}') );
    
    {% for studygroup in studygroup_joined_list %}
    sg_days_{{ studygroup.studygroup.id }} = [];
    {% if studygroup.days_available %}
    {% for d in studygroup.days_available %}
    {% autoescape off %}
    sg_days_{{ studygroup.studygroup.id }} = {{ d }};
    {% endautoescape %}
    {% endfor %}
    {% endif %}
    
    UpdateDays(
            sg_days_{{ studygroup.studygroup.id }}, 
            $( "#days_available_{{ studygroup.studygroup.id }}" ));
    {% endfor %}
    
});
</script>
{% endblock %}



