<!-- templates/home.html-->
{% extends 'base.html' %} 
{% block title %}My Studygroups{% endblock %} 

{% block content %}
<div style="position: relative; color: #000000; align:center;margin-top:15px; align:center; text-align: justify">
{% if user.is_authenticated %}
<p align="center">My Studygroups</p>
{% for studygroup in studygroup_joined_list %}
<div {% if forloop.counter0|divisibleby:2 %}class="white_sg"{% else %}class="green_sg"{% endif %}> 
    <p><a href="/studygroups/view/{{ studygroup.studygroup.id }}" style="color:blue">{{ forloop.counter }}:  {{ studygroup.studygroup.post_title }}</a></p>
    <p>Course: {{ studygroup.studygroup.course.class_name }}</p>
    <p>Section: {{ studygroup.studygroup.course.cn_number }}</p>
    <p>Instructor: {{ studygroup.studygroup.course.instructor }}</p>
    <p>Semester: {{ studygroup.studygroup.course.semester }} {{ studygroup.studygroup.course.year }}</p>
    <p>Owner: {{ studygroup.owner.username }}
    {% if studygroup.mine  %}
    ***MINE***
    {% endif %}</p>
    <p>Active: {{ studygroup.studygroup.is_active }}</p>
    <p>Filters:</p>
    <p>Gender:  {{ studygroup.studygroup.gender_specific }}</p>
    <p>Days:  <span id='days_available_{{ studygroup.studygroup.id }}'>
    {% if studygroup.days_available %}
    {% for d in studygroup.days_available %}
    {{ d }}
    {% endfor %}
    {% endif %}</span></p>
    <p>Hours:  {{ studygroup.studygroup.hours_available_start }} to {{ studygroup.studygroup.hours_available_end }}</p>
    <p>Members/Max:  {{ studygroup.members|length }}/{{ studygroup.studygroup.max_members }}</p>
    <p>Online only:  {{ studygroup.studygroup.online_only }}</p>
    <p>Members:</p>
    {% for member in studygroup.members %}
    <p>{{ forloop.counter }}: {{ member.email }}{% if studygroup.mine and not member.id == user.id %} <a href="" style="color:blue">Block User</a>{% endif %}</p>
    {% endfor %}
</div>
<script>

days_string = 'Every Day';
sg_days_{{ studygroup.studygroup.id }} = '';

{% if studygroup.days_available %}
{% for d in studygroup.days_available %}
{% autoescape off %}
sg_days_{{ studygroup.studygroup.id }} = {{ d }};
{% endautoescape %}
{% endfor %}
{% endif %}


// Create a string, as we are only showing selected.
if (sg_days_{{ studygroup.studygroup.id }}.length > 0)
{
    days_string = '';
    for (i = 0; i < sg_days_{{ studygroup.studygroup.id }}.length; i++)
    {
        if (i > 0)
        {
            days_string += ', ';
        }
        days_string += sg_days_{{ studygroup.studygroup.id }}[i];
    }
}
$( "#days_available_{{ studygroup.studygroup.id }}" ).text(days_string);
 
</script>
{% endfor %}
{% else %}
<div align="center" id="dark">
        <p>Please sign in or sign up to see your studygroups.</p>  
        <p>You can still search for study groups <a href="/courses/">here</a>,<br />
        but will not be able to join or view 
        studygroup details until <br />
        you are 
        <a href="{% url 'signup' %}">registered</a> and 
        <a href="{% url 'login' %}" >signed in</a>.</p></div>
{% endif %}
</div>

<script>
$bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
$('#breadcrumbs').html( $bc.append(' &gt; <a href="/studygroups/">Studygroups</a>') );
$('#breadcrumbs').html( $bc.append(' &gt; {{ user.username }}') );
</script>
{% endblock %}



