<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Update StudyGroup{% endblock %}

{% block content %}


<div class="greenbox">
<div style="margin-left: auto;margin-right:auto; align: left; text-align:left;">
<form action="/studygroups/update/{{ studygroup.id }}" method="post" onsubmit="return updatetime();">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p class="fieldWrapper">
        <label for="{{ form.post_title.id_for_label }}" class="signup_label">{{ form.post_title.label }}:</label> 
        <span class="signup_input">{{ form.post_title }}
        (required)
        </span>
        {{ form.post_title.id_for_label.errors }}
        {{ form.post_title.errors }}
    </p>
    
    <p class="fieldWrapper">
        <label for="{{ form.max_members.id_for_label }}" class="signup_label">{{ form.max_members.label }}:</label> 
        <span class="signup_input">{{ form.max_members }}
        (optional)
        </span>
        {{ form.max_members.id_for_label.errors }}
        {{ form.max_members.errors }}
    </p>
    
    <p class="fieldWrapper">
        <label for="{{ form.gender_specific.id_for_label }}" class="signup_label">{{ form.gender_specific.label }}:</label> 
        <span class="signup_input">{{ form.gender_specific }}
        (optional)
        </span>
        {{ form.gender_specific.id_for_label.errors }}
        {{ form.gender_specific.errors }}
    </p>
    
    <p class="fieldWrapper">
        <label for="{{ form.days_available.id_for_label }}" class="signup_label">{{ form.days_available.label }}:</label> 
        <span class="signup_input">{{ form.days_available }}
        (optional)
        </span>
        {{ form.days_available.id_for_label.errors }}
        {{ form.days_available.errors }}
    </p>
    
    <p class="fieldWrapper">
        <label for="{{ form.hours_available_start.id_for_label }}" class="signup_label">{{ form.hours_available_start.label }}:</label> 
        <span class="signup_input">{{ form.hours_available_start }}
        (optional)
        </span>
        {{ form.hours_available_start.id_for_label.errors }}
        {{ form.hours_available_start.errors }}
    </p>
    
   <p class="fieldWrapper">
        <label for="{{ form.hours_available_end.id_for_label }}" class="signup_label">{{ form.hours_available_end.label }}:</label> 
        <span class="signup_input">{{ form.hours_available_end }}
        (optional)
        </span>
         {{ form.hours_available_end.id_for_label.errors }}
         {{ form.hours_available_end.errors }}
    </p>
    
    <p class="fieldWrapper">
        <label for="{{ form.online_only.id_for_label }}" class="signup_label">{{ form.online_only.label }}:</label> 
        <span class="signup_input">{{ form.online_only }}
        (optional)
        </span>
        {{ form.online_only.id_for_label.errors }}
        {{ form.online_only.errors }}
    </p>
    
    <p class="fieldWrapper">
        <label for="{{ form.is_active.id_for_label }}" class="signup_label">{{ form.is_active.label }}:</label> 
        <span class="signup_input">{{ form.is_active }}
        (optional)
        </span>
        {{ form.is_active.id_for_label.errors }}
        {{ form.is_active.errors }}
    </p>
    
    {{ form.course }}
    {{ form.creator }}
    
    <div align="center" style="padding-bottom: 3px;">
    <input type="submit" value="Update Studygroup"  id="submit"/>
    </div>
</form>
<script>
$('#id_course').val('{{ course }}');
</script>
</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
sg_days_{{ studygroup.id }} = '';
{% if days_available %}
{% for d in days_available %}
{% autoescape off %}
sg_days_{{ studygroup.id }} = {{ d }};
{% endautoescape %}
{% endfor %}
{% endif %}

$( document ).ready(function() 
{
	$bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
	$('#breadcrumbs').html( $bc.append(' &gt; <a href="/studygroups/">Studygroups</a>') );
	$('#breadcrumbs').html( $bc.append(' &gt; Update {{ studygroup.id }}') );
	
	//Create a string, as we are only showing selected.
	if (sg_days_{{ studygroup.id }}.length > 0)
	{
	    for (i = 0; i < sg_days_{{ studygroup.id }}.length; i++)
	    {
	        $('#id_days_available option[value=' + sg_days_{{ studygroup.id }}[i] + ']').prop('selected', true);
	        
	    }
	}
	
	$('#id_hours_available_start').timepicker();
	$('#id_hours_available_end').timepicker();
	
	
	$( "#id_max_members" ).change(function() {
	    if ($( "#id_max_members" ).val() < 1)
	    {
	        alert("You need to permit at least one member (yourself) in your studygroup.");
	        $( "#id_max_members" ).val({{ studygroup.max_members}});
	    } 
	});
	
	/*
	 *  Time format expected by Django is different from what is displayed here, so clean 
	 *  up before submitting.  Performing this client-side means less bad submissions.
	 */
	function updatetime()
	{
	    ret = false;
	    start = breakoutTime($('#id_hours_available_start').val());
	    end = breakoutTime($('#id_hours_available_end').val());
	    
	    if (parseInt(start.replace(':', '')) >= parseInt(end.replace(':', '')))
	    {
	        alert("If using a starting and ending time available, the start time must be less than the end time.");
	    }
	    else
	    {
	        ret = true;
	        $('#id_hours_available_start').val(breakoutTime($('#id_hours_available_start').val()));
	        $('#id_hours_available_end').val(breakoutTime($('#id_hours_available_end').val()));   
	    }
	    
	    // Now check that max members is valid as well.
	    if (ret)
	    {
	    	if ($( "#id_max_members" ).val() < 1)
	        {
	            alert("You need to permit at least one member (yourself) in your studygroup.");
	            $( "#id_max_members" ).val({{ studygroup.max_members}});
	            ret = false;
	        } 
	   	}
	    return ret;
	}
	
	function breakoutTime(time)
	{
	    //hour == xx before :
	    //minute == xx after :
	    //am/pm == am/pm at end
	    hh = 0;
	    mm = 0;
	    if (time != "")
	    {
	        myArray = time.split(/([0-9]+)/)
	        hh = myArray[1];
	        //#hh= time.split(':')[0];
	        //mm = time.plit(':')[1];
	        mm = myArray[3];
	        ampm = myArray[4];
	    }
	    if (ampm == "pm")
	    {
	        hh = parseInt(hh) + 12;
	    }
	    else
	    {
	        if (parseInt(hh) < 10)
	        {
	            hh = "0" + hh;
	        }
	        if (parseInt(hh) == 12)
	        {
	            hh = "00";
	        }
	    }
	    
	    return(hh + ":" + mm);
	    
	}

}
</script>
{% endblock %}

