<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Studygroup{% endblock %}

{% block content %}
<div id="sg_main">
	<!-- Study Group Links -->
	{% if studygroup %}
	<p>
         <span class="studygroup_label">Group:</span>
	     <span class="studygroup_data">{{ studygroup.post_title }}
	     {% if self_owned %} 
	         <a href="/studygroups/update/{{ studygroup.id }}" class="green">Edit</a>
	     {% endif %}
	    </span>
	</p>
	<p>
	    <span class="studygroup_label">Subject:</span>
	    <span class="studygroup_data">{{ studygroup.course.subject }}</span>
    </p>
	<p>
	    <span class="studygroup_label">Class:</span>
	    <span class="studygroup_data">{{ studygroup.course.class_name }}</span>
	 </p>
	<p>
	    <span class="studygroup_label">Instructor:</span>
	    <span class="studygroup_data">{{ studygroup.course.instructor }}</span>
	</p>
	<p>
	    <span class="studygroup_label">Section:</span>
	    <span class="studygroup_data">{{ studygroup.course.cn_number }}</span>
	</p>
	<p>
	    <span class="studygroup_label">Semester:</span>
	    <span class="studygroup_data">{{ studygroup.course.semester }} 
	    {{ studygroup.course.year }}</span>
	</p>
	<p>
	    <span class="studygroup_label">Creator:</span>
	    <span class="studygroup_data">{{ studygroup.creator.username }} 
	    {% if self_owned %} ***{% endif %}</span>
	</p>
	<p>
	    <span class="studygroup_label">Meets:</span>
	    <span class="studygroup_data">
	    <span id='days_available_{{ studygroup.id }}'>
	    {% if days_available %}
	        {% for d in days_available %}
	            {{ d }}
	        {% endfor %}
	   {% endif %}</span> 
	   {{ studygroup.hours_available_start }} to {{ studygroup.hours_available_end }}
	   </span>
	</p>
	<p>
	    <span class="studygroup_label">Online:</span>
	    <span class="studygroup_data">{{ studygroup.online_only }}</span>
	</p>
	<p>
	    <span class="studygroup_label">Gender:</span>
	    <span class="studygroup_data">
	    {% if studygroup.gender_specific == 'M' %}
	    Male Only
	    {% endif %}
	    {% if studygroup.gender_specific == 'F' %}
	    Female Only
	    {% endif %}
	    {% if studygroup.gender_specific == 'N' %}
	    Nonbinary Only
	    {% endif %}
	    {% if studygroup.gender_specific == 'U' %}
	    Everyone Welcome!
	    {% endif %}
	    </span>
	</p>
	<p>
	    <span class="studygroup_label">Members:</span>
	    <span class="studygroup_data">
	    {{ members_list|length }}/{{ studygroup.max_members }}
	    </span>
	</p>
	{% if am_a_member %}
	<ul>
	    {% for m in members_list %}
	    <li>{{ m.user.username }}  
	    {% if studygroup.creator == user and not m.user.id == user.id %} 
	    <a href="#" onclick="blockUser({{ m.user.id }});">
	    <span id="userblock_{{ m.user.id }}">{% if m.user.id in block_list %}Unblock User{% else %}Block User{% endif %}</span></a>{% endif %}
	    </li>
	    {% endfor %}
	    </ul>
	{% endif %}
	{% if not am_a_member %}
	<a href="/studygroups/join/{{ studygroup.id }}">Join Group</a>
	{% endif %}
	{% endif %}
	</div>
	{% if am_a_member %}
	<div id="messages"  
	    style="display: inline-block;* display: inline; zoom: 1; vertical-align: top; border: 1px black solid; width: 570px; height: 532px; background-color: #ffffff; color: #000000">
	<table style="width: 100%; height: 530px;">
	<tr style="height: 453px;">
	    <td style="vertical-align: top">
	    <div id="msg_list" style="overflow-y: auto; height: 450px; word-break: break-all; word-wrap: break-word;">
	    <span id="messages_{{ studygroup.studygroup.id }}_span">
	    {% for message in message_list %}
	        <span id="message_{{  message.id }}">
	        <p>{{ message.date }} - {{ message.title }}</p>
	        <p>{{ message.body }}</p>
	        <hr style="width: 200px;" />
	        </span>
	        {% endfor %}
	    </span>
	    </div>
	    </td>
	</tr>
	<tr>
	    <td>
	    <span style="vertical-align: middle; text-align: left">
	<form method="post" data-send-message-url="/studygroups/message/" id="message_form">
	{% csrf_token %}
	<input type="text" placeholder="Enter message title" id="id_title"  name="title"  style="width: 426px; margin-left:20px;"/><br />
	<textarea name="new_message" id="id_new_message"  style="width: 430px; height: 40px; display: inline-block;float: left; margin-left: 20px; margin-right: 5px; vertical-align: middle" placeholder="Enter message"></textarea>
	<input type="button" value="Send"  class="button_float" id="buttn" />
	<input type="hidden" value="{{ studygroup.id }}" id="id_studygroup" name="studygroup" />
	</form>
	</span>
	    </td>
	</tr>
	</table>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function UpdateDays(sg_days, el)
{
    days_string = 'Every Day';
    if (sg_days.length > 0)
    {
        days_string = '';
        for (i = 0; i < sg_days.length; i++)
        {
            if (i > 0)
            {
                days_string += ', ';
            }
            days_string += sg_days[i];
        }
    }
    el.text(days_string);
}

function blockUser(id)
{
    block_action = 'block';
    /*
           We are using the same call for blocking and unblocking.  
           So base what we want to do on the text for the call.
     */
    if ( $('#userblock_'+id).text() == "Unblock User")
    {
        block_action = 'unblock';
    }
    
    
$.ajax(
{
    url: '/accounts/blockuser/',
    data: {
        'block_action': block_action,
        'user': id,
        'studygroup': {{ studygroup.id }}
    },
    dataType: 'json',
    success: function (data) {
        if (data.blocked) 
        {
            //alert("User Blocked");
            // Update to show no longer active, remove deactivate link.
            // userblock_{{ id}} text needs to now read unblock.
            $('#userblock_'+id).text("Unblock User");
        }
        else
        {
            //alert("User Unblocked");
            $('#userblock_'+id).text("Block User");
        }
    }
  });
}

const month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
	
function formatDate(date) {
	var hours = date.getHours();
	var minutes = date.getMinutes();
	var ampm = hours >= 12 ? 'p.m.' : 'a.m.';
	hours = hours % 12;
	hours = hours ? hours : 12; // the hour '0' should be '12'
	minutes = minutes < 10 ? '0'+minutes : minutes;
	var strTime = hours + ':' + minutes + ' ' + ampm;
	month = month_names[date.getMonth()];
	return month + ". " + date.getDate() + ", " + date.getFullYear() + ",  " + strTime;
}


$( document ).ready(function() 
{   
    $bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
    $('#breadcrumbs').html( $bc.append(' &gt; <a href="/studygroups/">Studygroups</a>') );
    $('#breadcrumbs').html( $bc.append(' &gt; View') );
    $('#breadcrumbs').html( $bc.append(' &gt; {{ studygroup.id }}') );
    
    sg_days_{{ studygroup.id }} = [];
    {% for d in days_available %}
    {% autoescape off %}
    sg_days_{{ studygroup.id }} = {{ d }};
    {% endautoescape %}
    {% endfor %}
    
    UpdateDays(
            sg_days_{{ studygroup.id }}, 
            $( "#days_available_{{ studygroup.id }}" ));
    
    $("#buttn").click(function () {
        if ($("#id_title").val() == "" || $("#id_new_message").val() == "")
        {
            alert("Enter a message title and message body before sending message.");
        }
        else
        {
        var form = $("#message_form");
        $.ajax({
            url: form.attr("data-send-message-url"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
              if (data.is_saved == "False") {
                alert(data.error);
              }
              else 
              {
            	  var utcDate = data.msg_date;  // ISO-8601 formatted date returned from server
            	  var localDate = new Date(utcDate);
            	  localDate = formatDate(localDate);
            	  new_span = '<span id="message_'+data.msg_id+'"><p>'+localDate+' - '+data.msg_title+'</p><p>'+data.msg_body+'</p><hr style="width: 200px;" /></span>';
            	  // Update the messages here by appending a new message above the existing messages.
                  // We also want to reset the title and body . . . 
                  $("#messages_{{ studygroup.studygroup.id }}_span").append(new_span);
                  $("#id_title").val("");
                  $("#id_new_message").val("");
                  $("#msg_list").scrollTop($("#msg_list")[0].scrollHeight);
              }
            }
          });
        }
    });
    
});
</script>
{% endblock %}

