<!-- templates/base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/spf.css" %}">
    <script type="text/javascript" src="{{ STATIC_URL }}/static/static_jquery/js/jquery.js">
    </script> 
</head>
<body>
    <div id='header' class='header'>
        <div class="logo"><img src="{% static "images/SPF-Logo.jpg" %}" width="150" height="75"  alt="Study Partner Finder" /></div>
        <div class="dropdown">
                <button class="dropbtn">Subjects</button>
                <div class="dropdown-content">
                    <a href="#">Aardvarkology</a>
                    <a href="#">Some More</a>
                    <a href="#">Zoology</a>
                </div>
        </div>
        <div>Courses</div>
        <div>Search</div>
        <div>About</div>
        {% if user.is_authenticated %}
           <div class="dropdown">
                <button class="dropbtn">{{ user.username }} &#9662;</button>
                <div class="dropdown-content">
                    <a href="#">My Profile</a>
                    <a href="#">My Study Groups</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
           <div>You are not logged in . . . <a class="header" href="{% url 'login' %}">login</a> | <a href="{% url 'signup' %}">signup</a></div>
        {% endif %}
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>