<!-- templates/home.html-->
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="dark" align="center">
    <h1>Welcome to Study Partner Finder</h1>
    {% if not user.is_authenticated %}
    <div>
        <p>Please sign in or sign up to see full results.</p>  
        <p>You can still search for study groups, but will not be able to join or view 
        studygroup details until you are 
        <a href="{% url 'signup' %}" style="color:green">registered</a> and 
        <a href="{% url 'login' %}" style="color:green">signed in.</a></p></div>
    {% endif %}
</div>
{% comment %}
    Include our courses searchbox.  This is used in multiple places, so we broke it out
    as a separate template.
{% endcomment %}
{% include "courses/searchbox.html" %}
<script>
$bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
$('#breadcrumbs').html( $bc.append('') );
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$( document ).ready(function() 
{
    $bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
	$('#breadcrumbs').html( $bc );
});
</script>
{% endblock %}