<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Course Search{% endblock %}

{% block content %}
<div class="greenBox">
<h1>Course Details</h1>
{% if course_list %}
{% for course in course_list %}
<p>Course:  {{ course.class_name }}</p>
<p>Instructor: {{ course.instructor }}</p>
<p>Section: {{ course.cn_number }}</p>
<p>Area of study:  {{ course.subject }}</p>
<p>Semester:  {{ course.semester }} {{ course.year }}</p>
<div style="color: #000000;">
<a href="/studygroups/add/{{ course.id }}">Add new StudyGroup</a>
</div>
{% endfor %}
{% endif %}
</div>

<div style="color: #000000;">
<!-- Study Group Links? -->
<p>Studygroups Under this course</p>
{% if studygroup_list %}
{% for sg in studygroup_list %}
<p>ID: {{ sg.studygroup.id }} {% if sg.mine %} <a href="" style="color:#000000;">Edit</a> | <a href="" style="color:#000000;">Deactivate</a>{% endif %}</p>
<p>Post Title:  {{ sg.studygroup.post_title }}</p>
<p>Creator:  {{ sg.owner.username }} {% if sg.mine %} ***{% endif %}</p>
<p>Days Available:  <span id='days_available_{{ sg.studygroup.id }}'>{{ sg.studygroup.days_available }}</span></p>
<p>Hours Available: {{ sg.studygroup.hours_available_start }} to {{ sg.studygroup.hours_available_end }}</p>
<p>Maximum Members: {{ sg.studygroup.max_members }}</p>
<p>Online Only: {{ sg.studygroup.online_only }}</p>
<p>Gender Specific: {{ sg.studygroup.gender_specific }}</p>
<p>Members:
    <ul>
    {% for m in sg.members %}
    <li>{{ m.user.username }}</li>
    {% endfor %}
    </ul>
</p>
{% if not sg.i_am_in_group %}
<a href="/studygroups/join/{{ sg.studygroup.id }}" style="color:black;">Join Group</a>
{% endif %}
<script>
days_string = 'Every Day';
{% autoescape off %}
sg_days_{{ sg.studygroup.id }} = {{ sg.studygroup.days_available }};
{% endautoescape %}
// Create a string, as we are only showing selected.
if (sg_days_{{ sg.studygroup.id }}.length > 0)
{
	days_string = '';
    for (i = 0; i < sg_days_{{ sg.studygroup.id }}.length; i++)
    {
    	if (i > 0)
    	{
    		days_string += ', ';
    	}
    	days_string += sg_days_{{ sg.studygroup.id }}[i];
   	}
}
$( "#days_available_{{ sg.studygroup.id }}" ).text(days_string);
 
</script>
<hr /> 
{% endfor %}

{% endif %}
</div>
{% endblock %}

