<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Course Detail{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="greenbox">
    {% if course %}
	    <p>
	        {{ course.subject }}:  {{ course.class_name }}<br />
	        {{ course.semester }} {{ course.year }} Semester<br />
	        Instructor: {{ course.instructor }}<br />
	        Section: {{ course.cn_number }}
	    </p>
	    {% if user.is_authenticated %}
		    <div>
		        <a href="/studygroups/add/{{ course.id }}">Add new StudyGroup</a>
		    </div>
	    {% endif %}
    {% endif %}
</div>

<p class="dark">Studygroups Under this course</p>

<div id="studygroups">
	<!-- Study Group Links -->
	{% if user.is_authenticated %}
		{% if studygroup_list %}
			{% for sg in studygroup_list %}
				<h2>{{ sg.studygroup.post_title }}</h2>
				{% if sg.mine %} 
				    <p>
				        Admin:
				        <a href="/studygroups/update/{{sg.studygroup.id}}">Edit</a> 
				        Studygroup
				    </p>
				{% endif %}
				<p>
				    Days Available:  
				    <span id='days_available_{{ sg.studygroup.id }}'>
				    {% if sg.days_available %}
					    {% for d in sg.days_available %}
					        {{ d }}
					    {% endfor %}
				    {% endif %}
				    </span>
				</p>
				<p>
				    Hours Available: 
				    {{ sg.studygroup.hours_available_start }} to 
				    {{ sg.studygroup.hours_available_end }}
				</p>
				<p>
				    Members:  
				    {{ sg.members|length }} out of {{ sg.studygroup.max_members }}
				</p>
				{% if sg.studygroup.online_only %}
				    <p>Online Only</p>
				{% endif %}
				{% if sg.studygroup.gender_specific%}
				<p>
				    Gender Specific: 
				    {% if sg.studygroup.gender_specific == 'M' %}
				        Male Only
				    {% endif %}
				    {% if sg.studygroup.gender_specific == 'F' %}
				        Female Only
				    {% endif %}
				    {% if sg.studygroup.gender_specific == 'N' %}
				        Nonbinary Only
				    {% endif %}
				    {% if sg.studygroup.gender_specific == 'U' %}
				        Everyone Welcome!
				    {% endif %}
				</p>
				{% endif %}
				{% if not sg.i_am_in_group %}
				    {% if  sg.members|length < sg.studygroup.max_members %}
				    <a href="/studygroups/join/{{ sg.studygroup.id }}">Join Group</a>
				    {% else %}
				    Sorry, group full
				    {% endif %} |
				{% endif %} 
				    
				    <a href="/studygroups/view/{{ sg.studygroup.id}}">View Group</a>
				
				<script>
				days_string = 'Every Day';
				sg_days_{{ sg.studygroup.id }} = '';
				{% if sg.days_available %}
				{% for d in sg.days_available %}
				{% autoescape off %}
				sg_days_{{ sg.studygroup.id }} = {{ d }};
				{% endautoescape %}
				{% endfor %}
				{% endif %}
				
				// Create a string, as we are only showing selected.
				if (sg_days_{{ sg.studygroup.id }}.length > 0)
				{
					days_string = '';
				    for (i = 0; i < sg_days_{{ sg.studygroup.id }}.length; i++)
				    {
				    	if (i > 0)
				    	{
				    		days_string += ', ';
				    	}
				    	days_string += sg_days_{{ sg.studygroup.id }}[i];
				   	}
				}
				$( "#days_available_{{ sg.studygroup.id }}" ).text(days_string);
				 
				</script>
				<hr /> 
			{% endfor %}	
		{% else %}
			{% if course %}
				<div style="color: #000000;">
				    <a href="/studygroups/add/{{ course.id }}">Add new StudyGroup</a>
				</div>
			{% endif %}
	   {% endif %}
	{% else %}
		<p>There are {{ studygroup_list|length }} studygroups available for this course.</p>
		<p>Do you wish to <a href="{% url 'signup' %}?next={{request.path}}">register</a> or <a href="{% url 'login' %}?next={{request.path}}">sign in</a> 
		so that you can join or create a studygroup?</p>
	{% endif %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$( document ).ready(function() 
{
	$bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
	$('#breadcrumbs').html( $bc.append(' &gt; <a href="/courses/">Courses</a>') );
	{% if course %}
	$('#breadcrumbs').html( $bc.append(' &gt; {{ course.class_name }}') );
	{% endif %}
});
</script>
{% endblock %}

