<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Course Search{% endblock %}

{% block content %}
{% comment %}
    Include our courses searchbox.  This is used in multiple places, so we broke it out
    as a separate template.
{% endcomment %}
{% include "courses/searchbox.html" %}
<script>
$bc = $('<div id="breadcrumbs" style="width: 100%"><a href="/">Home</a></div>');
$('#breadcrumbs').html( $bc.append(' &gt; <a href="/courses/">Courses</a>') );
$('#breadcrumbs').html( $bc.append(' &gt; Search') );
</script>
{% endblock %}

