{% load staticfiles %}

{% block content %}
<div id="searchbox" class="white">
    <h1 align="center">Study Buddy Search</h1>
        <form action="/courses/" method="post">
            <p>Courses for {{ current_semester.semester }} {{ current_semester.year }}
            {% csrf_token %}
             {{ form.non_field_errors }}
            <table style="width: 100%">
            <tr>
                <th align="center">
                    <label for="{{ form.study_subject.id_for_label }}">Subject:</label>
                </th> 
            </tr>
            <tr>
                <td align="center">{{ form.study_subject }}{{ form.study_subject.errors }}</td>
            </tr>
            <tr>
                <th align="center">
                    <label for="{{ form.study_courses.id_for_label }}">Course:</label>
                </th>
            </tr>
            <tr>  
                <td align="center">{{ form.study_courses}}{{ form.study_courses.errors }}</td>
            </tr>
            </table>
            <p><input type="submit" value="Go To Course"  id="submit" /></p>
        </form>
    <div id="courseCount" align="center"><span></span></div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function Course(id, name, instructor, subject, cnn)
{
    this.id = id;
    this.name = name;
    this.instructor = instructor;
    this.subject_id = subject;
    this.cnn = cnn;
}

//
{% for subject in subject_list %}
let courses_{{ subject.id }} = [];{% endfor %}

{% if course_list %}
{% for course in course_list %}
c = new Course({{ course.id }}, '{{ course.class_name }}', '{{ course.instructor }}', {{ course.subject_id }}, {{ course.cn_number }});
courses_{{ course.subject_id }}.push(c);{% endfor %}
{% endif %}
//alert(courses_66[0].name);
$(document).ready(function(){
    
    /* Then id_study_semester */
    function UpdateCourse()
    {
        my_string = $('#id_study_subject :selected').val();
        class_list = '';
        var option = '';
        try
        {
            class_list = eval(my_string);
        }
        catch(err)
        {
            // Really do not need anything here, as we are just trying to stop error above.
        }

        // Check for existence of class_list, as may not be available for all semester/year options.
        if (typeof class_list !== 'undefined' && class_list.length > 0) 
        {
            for (var i=0;i<class_list.length;i++)
            {
                option += '<option value="'+ class_list[i].id + '">' + class_list[i].name + ' (CN' + class_list[i].cnn + ')</option>';
             }
        }
        else 
        {
            option = '<option value="">No courses. Try another search.</option>';
        }
        $('#id_study_courses').empty().append(option);
      
        $('#courseCount span').text('There are ' + class_list.length + ' ' + $('#id_study_subject :selected').text() + ' courses for {{ current_semester.semester}} {{ current_semester.year }}');
    }
    
    if ($('#id_study_subjects :selected').val() != "")
    {
    	UpdateCourse();
    }

    $('#id_study_subject').change(function()
    {
        UpdateCourse();
    });
});
</script>
{% endblock %}