body {
    font-size: 100%;
    font-family:  arial;
}

p {

    font-size: 100%;
    font-family:  sans-serif;
}

ul.errorlist
{
    background: #ffffff;
    margin: 5px;
    color: red;
} /* non field error list container */

ul.errorlist li
{
    background: #ffffff;
    margin: 5px;
    color: red;
} /* non field error */

#email_error
{
     background: #ffffff;
    margin: 5px;
    color: red;
}

#main {
    width: 95%;
    /*display:flex;*/
    align:  center;
    /*align-items: center;  Vertical center alignment */
    /*justify-content: center;*/
    text-align: center;
    color: #ffffff;
}

#main a {
    color: #ffffff;
}

.dark
{
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dark a:link
{
    color: #006400;
    text-decoration: underline;
}

.dark a:visited
{
    color: #006400;
    text-decoration: underline;
}

.dark a:active
{
    color: #9fe37f;
    text-decoration: underline;
}

.dark a:hover {
    color:  #9fe37f;
    text-decoration: underline;
}

#dark
{
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#dark a:link
{
    color: #006400;
    text-decoration: underline;
}

#dark a:visited
{
    color: #006400;
    text-decoration: underline;
}

.dark a:active
{
    color: #9fe37f;
    text-decoration: underline;
}

#dark a:hover {
    color:  #9fe37f;
    text-decoration: underline;
}

.signuplabel 
{
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 225px;
}
.signupinput {
	margin-top: 1px;
    margin-bottom: 1px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}


.account_edit_label 
{
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 125px;
}
.account_edit_input {
    margin-top: 1px;
    margin-bottom: 1px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}

#studygroups
{
	border: 1px solid black;
	width:  600px;
	align:  center;
	color: #000000;
	margin-left: auto;
    margin-right: auto;
    display: block;
    overflow-y:  scroll; 
    height:  350px;
}

#studygroups a:link
{
    color: #006400;
    text-decoration: underline;
}

#studygroups a:visited
{
    color: #006400;
    text-decoration: underline;
}

#studygroups a:active
{
    color: #9fe37f;
    text-decoration: underline;
}

#studygroups a:hover {
    color:  #9fe37f;
    text-decoration: underline;
}

.button2 {
    background-color: #ffffff;
    border: 1px solid #006400;
    color: green;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2:hover {
    background-color: #006400;
    border: 1px solid #ffffff;
    color: #ffffff;
}



#header {
    border:  2px solid #9fe37f;
    background-color:  #006400;
    width: 100%;
    height: 79px;
    color:  #ffffff;

     text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;

    /*
       Add a drop shadow to our header.
    */
    -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
    box-shadow:  0 4px 10px -2px rgba(0, 0, 0, 0.3);

}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.header div {
  white-space:nowrap;
}

.logo {
    position: relative;
    display: inline-block;
    margin-left: 10px;

}

.header a {
    color:  white;
    text-decoration: none;
}

a:hover {text-decoration: underline; }


.box1,
.box2,
.box4 {
  width: 150px;
 vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1
}

.box3 {
  width: 300px;
 vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1
}

.button {
    background-color: #ffffff;
    border: 1px solid #006400;
    color: green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #006400;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#login
{
	display: block;
	margin-left: auto;
	margin-right:  auto;
    position: relative;
    align: center;
    background-color: #006400;
    /* Rounded Corners */
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    margin-top: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 375px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    vertical-align: middle;
}

#login label{
   display: none;
}

#searchbox
{
    position: relative;
    display:  block;
    margin-left: auto;
    margin-right:  auto;
    width:  550px;
    background-color: #006400;
    text-align: center;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    margin-top: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    vertical-align: middle;
    align: center;
}

#submit
{
    border-top:     2px solid #9fe37f;
    border-left:        2px solid #9fe37f;
    border-right:       2px solid #9fe37f;
    border-bottom:      2px solid #9fe37f;
    padding:        10px 20px !important;
    font-size:      14px !important;
    background-color:   #ffffff;
    font-weight:        bold;
    color:          #006400;
    cursor: pointer;
}

.whiteSG
{
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    color: #000000;
    
    position: relative;
    align: center;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.greenSG
{
    color: #ffffff;
    /*text-shadow:
    -1px -1px 0 #C0C0C0,
    1px -1px 0 #C0C0C0,
    -1px 1px 0 #C0C0C0,
    1px 1px 0 #C0C0C0;*/
    background-color: #006400;
    position: relative;
    align: center;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    
}

#notice
{
	color:  red;
}

#breadcrumbs
{
	width: 100%;
	align: left;
	color: #006400;
	font-size: smaller;
	margin-left: 0px;
    margin-top: 1px;
    padding-top: 1px;
}

#breadcrumbs a:link
{
    color: #006400;
    
    text-decoration: none;
}

#breadcrumbs a:visited
{
    color: #006400;
    
    text-decoration: none;
}
#breadcrumbs a:active
{
    color: #006400;
    text-decoration: underline;
}

#breadcrumbs a:hover 
{
    color: #006400;
    text-decoration: underline;
}

.greenbox
{
    /*position: relative;*/
    width: 600px;
    align:  center;
    /*text-align: center;*/
    background-color: #006400;
    /* Rounded Corners */
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*margin-top: 0px;*/
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
    /*-ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    vertical-align: middle;*/
}

#id_username {
      width: 300px;
      color: #006400;
    ::-webkit-input-placeholder  { color:green; } /* Webkit */
    :-moz-placeholder { color:green; }  /* Firefox <= 18 */
    ::-moz-placeholder { color:green; }  /* Firefox >= 19 */
    :-ms-input-placeholder {  color:green; } /* Internet Explorer */

}

#id_password {
    width: 300px;
    color: #006400;
    ::-webkit-input-placeholder  { color:green } /* Webkit */
    :-moz-placeholder { color:green; }  /* Firefox <= 18 */
    ::-moz-placeholder { color:green; }  /* Firefox >= 19 */
    :-ms-input-placeholder {  color:green; } /* Internet Explorer */

}

/* search box*/
/*
    Search box from:  https://www.formget.com/css-search-box/
*/
#search-form_3 {
background: #e1e1e1; /* Fallback color for non-css3 browsers */
width: 300px;
margin: 5px auto;

/* Gradients */
background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);

/* Rounded Corners */
border-radius: 17px;
-webkit-border-radius: 17px;
-moz-border-radius: 17px;

/* Shadows */
box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
}

/*** TEXT BOX ***/
.search_3{
background: #fafafa; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
background: -moz-linear-gradient( center top, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
border: 0;
border-bottom: 1px solid #fff;
border-right: 1px solid rgba(255,255,255,.8);
font-size: 16px;
margin: 4px;
padding: 5px;
width: 185px;

/* Rounded Corners */
border-radius: 17px;
-webkit-border-radius: 17px;
-moz-border-radius: 17px;

/* Shadows */
box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
-webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
-moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
}

/*** USER IS FOCUSED ON TEXT BOX ***/
.search_3:focus{
outline: none;
background: #fff; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(235,235,235)));
background: -moz-linear-gradient( center top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
}

/*** SEARCH BUTTON ***/
.submit_3{
background: #44921f;/* Fallback color for non-css3 browsers */
/* Gradients */
background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(79,188,32)), color-stop(0.15, rgb(73,157,34)), color-stop(0.88, rgb(62,135,28)), color-stop(1, rgb(49,114,21)));
background: -moz-linear-gradient( center top, rgb(79,188,32) 0%, rgb(73,157,34) 15%, rgb(62,135,28) 88%, rgb(49,114,21) 100%);
border: 0;
color: #eee;
cursor: pointer;
float: right;
font: 16px 'Raleway', sans-serif;
font-weight: bold;
height: 30px;
margin: 4px 4px 0;
text-shadow: 0 -1px 0 rgba(0,0,0,.3);
width: 84px;
outline: none;

/* Rounded Corners */
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;

/* Shadows */
box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
-moz-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.2);
-webkit-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
}
/*** SEARCH BUTTON HOVER ***/
.submit_3:hover {
background: #4ea923; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(89,222,27)), color-stop(0.15, rgb(83,179,38)), color-stop(0.8, rgb(66,143,27)), color-stop(1, rgb(54,120,22)));
background: -moz-linear-gradient( center top, rgb(89,222,27) 0%, rgb(83,179,38) 15%, rgb(66,143,27) 80%, rgb(54,120,22) 100%);
}
.submit_3:active {
background: #4ea923; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(89,222,27)), color-stop(0.15, rgb(83,179,38)), color-stop(0.8, rgb(66,143,27)), color-stop(1, rgb(54,120,22)));
background: -moz-linear-gradient( center bottom, rgb(89,222,27) 0%, rgb(83,179,38) 15%, rgb(66,143,27) 80%, rgb(54,120,22) 100%);
}


/*
    The following is from w3schools . . . https://www.w3schools.com/Css/css_dropdowns.asp
*/
/* Style The Dropdown Button */
.dropbtn {
    background-color: #006400;
    color: #ffffff;
    padding: 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
    background-color: #ffffff;
    color: #006400;
}

/*
    Tree logo from:
    https://clipartion.com/free-clipart-7017/
    supposedly freely-avaible public domain.

*/
