<!-- templates/home.html-->
{% extends 'base.html' %} 
{% block title %}User{% endblock %} 

{% block content %}
<p>Edit Account Here</p>
<div class="greenBox">
	<h2>Account Details</h2>
	<p>User: {{ user.username }}</p>
	<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
	<p>Email: {{ user.email }}</p>
	<p>Gender: {{ user.gender }}</p>
	<p>College: {{ user.college }}</p>

	<p>Studygroups listed here</p>
	<a href="/accounts/password_reset/">Update Password</a> | 
	<a href="/accounts/edit/{{ user.id }}">Update Account</a>
</div>
{% endblock %}



